/* Reset de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: #EAEFEF;
    color: whitesmoke;

}

header { 
    background-color: #25343F;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

header a:hover { 
    font-size: large;
    font-weight: bolder;
}

header a:visited { 
    color: #25343F;

}

.navbar .nav-link,
.navbar .nav-link.active {
  color: #EAEFEF !important;
}



.titulo { 
    background-color: #EAEFEF;
    color: black;
    justify-content: center;
    text-align: center;
    padding: 1rem;
}

.titulo:active { 
    background-color: #BFC9D1;

}


#titulos { 
    background-color: #EAEFEF;
    color: black;

}

.link { 
    display: flex;
    justify-content: center;
    padding: 1rem;
}


.link h3 { 
    text-align: center;
    width: 18rem;
    height: 5rem;
    border: 3px solid #25343F;
    padding: 1rem;
}

.link h3:hover { 
    background-color: #BFC9D1;
    font-size: xx-large;

}

.carousel-item { 
    max-height: 700px;

}

main { 
    justify-content: center;
    text-align: center;
}

main div img { 
    width: 70%;
    height: 70%;
    object-fit: cover;
}

main .gallery { 
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
}

.container .row { 
    justify-content: space-between;
    padding: 3rem;

}

#titulos { 
    padding: 1.5rem;
}

p { 
    padding: 1rem;
    text-align: center;

}

.formulario { 
    text-align: center;
}

.formulario form { 
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
}

form label { 
    color: #25343F;

}

footer { 
    color: #25343F;
    background-color: #BFC6C4;
    text-align: center;
    padding: 1.5rem;
    font-weight: bolder;
}

@media screen and (min-width: 768px) {

    header { 
        flex-direction: row;
    }

    main .gallery { 
        grid-template-columns: repeat(2, 1fr);
    }


    .formulario form { 
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr);
    }
} 

@media screen and (min-width: 1024px) {

    main .gallery { 
        grid-template-columns: repeat(3, 1fr);
    }

    .formulario form { 
        grid-template-columns: repeat(2, 1fr);
        max-width: 800px;
        margin: 0 auto;
    }

    .formulario input[type="submit"] {
        grid-column: span 2;
    }
}

/* sección de historia */

.card-group .card img { 
    height: 60%;

}

main h5 { 
    padding: 1rem;
}

/* sección de torneos */


    main div img { 
    width: 60%;
    height: 60%;
    object-fit: cover;
}

.boxies { 
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
}


@media screen and (min-width: 764px) {

    .boxies { 
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 50%);
    }
    
}


@media screen and (min-width: 1024px) { 
    
    .boxies { 
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 100%);
        padding-top: 1rem;
    }
}