//variables
@use "../utilities/variables" as *;
@use "../utilities/listas" as *;
@use "../utilities/mixin" as *;

// Footer de todas las páginas
/* Footer de todas las páginas */

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: nth($lista-colores, 3 );
  color: nth($lista-colores, 1 );
}
